.tw{
    color: white;
}

.mt1 {
    margin-top: 50px;
}

.mt2 {
    margin-top: 100px;
}

.mt3 {
    margin-top: 150px;
}

@media (max-width:768px) {
    .mst3 {
        margin-top: 50px;
    }
}


/* -----------------------------------------------text sizes----------------------------------------------- */

.smalltxt {
    font-size: 14px;
    line-height: 100%;
}

.normaltxt {
    font-size: 26px;
    line-height: 100%;
}

.medtxt {
    font-size: 40px;
    line-height: 100%;
}

.bigtxt {
    font-size: 60px;
    line-height: 100%;
    margin: 5% 0;
}

.title{
    font-size: 75px;
    text-shadow: 0 0 10px black, 0 0 10px black;
}

.introtxt {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}



/*Fatto da Varisco e Germanò*/