* {
    box-sizing: border-box;
}

.group {
    display: flow-root;
}

.block{
    display: block;
}

.flex{
    display: flex;
}


/* -----------------------------------------------More base styles----------------------------------------------- */

@font-face {
    font-family: f1;
    src: url(../FONT/F1_Font/Formula1-Regular_web_0.ttf);
}

@font-face {
    font-family: f1;
    src: url(../FONT/F1_Font/Formula1-Bold_web_0.ttf);
    font-weight: bold;
}

body {
    font-family: f1;
    color: black;
    scrollbar-width: 0%;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
p {
    color: inherit;
}

p {
    color: black;
}


::-webkit-scrollbar {
    width: 1em;
    height: 100%;
    background-color: black;
    scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb {
    width: 1em;
    background-color: white;
    border: .2em solid black;
    border-radius: .5em;
    box-shadow: inset 0 0 0 1px #666;
}

/*Fatto da Varisco e De Vecchi*/