/* -----------------------------------------------Stanfard properties -----------------------------------------------*/

@import url("./standard.css");

/* Helpers */

@import url("./helpers.css");

/*  -----------------------------------------------header ----------------------------------------------- */

.header__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 10;
}

.b-g {
    background: linear-gradient(0deg, rgb(216, 9, 9), rgb(216, 9, 9))
}


header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 50%;
    display: flex;
    background: linear-gradient(0deg, rgb(216, 9, 9), rgb(216, 9, 9));
    color: white;
    padding: 30px;
    margin: 0 auto;
    transform: translate(-50%);
    z-index: 10;
}


/*  -----------------------------------------------menu ----------------------------------------------- */

.menu {
    width: 100%;
    list-style: none;
    margin: auto 0;
}

.menu li {
    color: white;
    display: inline-block;
    margin-right: 20px;
}

.menu li a {
    color: white;
}

.hide {
    display: none;
}

@media (max-width:768px) {
    .menu {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
        padding-top: 80px;
        transform-origin: center center;
        transform: translateY(-100vh);
        transition: .9s cubic-bezier(.215, .61, .355, 1);
    }
    .menu.menu-show {
        display: block;
        transform: translateY(0vh);
    }
    .menu li {
        display: block;
        padding-top: 40px;
        padding-left: 20px;
    }
    .bigtxt {
        font-size: 35px;
    }
    .introtxt {
        font-size: 20px;
    }
}

.logo {
    width: 250px;
    height: 70px;
    min-width: 50px;
    min-height: 50px;
    margin: auto 0;
}


/*  -----------------------------------------------login ----------------------------------------------- */
.login {
    width: 50%;
    margin: 150px auto;
}


/*  -----------------------------------------------Market ----------------------------------------------- */
.box-pilota{
    border-radius: 25px;
    box-shadow:0px 0px 10px 2px #000000 ;
    margin: 0 2.5%;
    display: inline-flex;
    height: 320px;
    width: 95%;
}

.team{
    border: 5px solid black;
    width: 100%;
    height: 320px;
}
.tdfoto{
    width: 20%;
}
.tdvalore{
    text-align: left;
    width:25%;
}

.tdlog{
    font-size: 30px;
    text-align: right;
}

.tab_input{
    width: 100%;
    margin: auto;
}

.tdbutton{
    width: 10%;
    text-align: center;
}

.box-scuderia{
    background-color:white;
    border-radius: 25px;
    box-shadow:0px 0px 10px 2px #000000 ;
    margin: 0 2.5%;
    display: inline-flex;
    height: 320px;
    width: 95%;
}

.foto-pilota{
    height: 300px;
    display: flex;
    float: left;
}

.info-pilota{
    display: block;
    margin-right: 20%;
}

.info-scuderia{
    display: block;
    margin-right: 20%;
}

.valore{
    display: flex;
    float: right;
    padding-left: 0;
    transform: translate(250%, -100%);
}

.info-pilota p{
    color: white;
}

.titolo{
    text-align: center;
}

@media (max-width:768px) {
    .tdlog{
        font-size: 20px;
    }

    input [type=text]{
        width: 400px;
    }

    input [type=password]{
        width: 400px;
    }

    input [type=email]{
        width: 400px;
    }

    .foto-pilota{
        height: 200px;
    }

}


/*  -----------------------------------------------Input ----------------------------------------------- */

input[type=text]{
    border: 3px solid rgb(216, 9, 9);
    border-radius: 5px;
    height: 30px;
    width: 100%;
}

input[type=password]{
    border: 3px solid rgb(216, 9, 9);
    border-radius: 5px;
    height: 30px;
    width: 100%;
}

input[type=email]{
    border: 3px solid rgb(216, 9, 9);
    border-radius: 5px;
    height: 30px;
    width: 100%;
}

.subpilota{
    background-color: white;
}

.subscuderia{
    background-color: white;
}

/*  -----------------------------------------------Pilota ----------------------------------------------- */
.informazioni-pilota{
    display: inline-flex;
    height: 525px;
}

.foto{
    height: 600px;
    display: flex;
    float: left;
}

.value{
    display: block;
    padding-left: 0;
}

.nome{
    width: 40%;
    margin: 0%;
}

#grafico1{
    width: 60%; 
    height: 400px; 
    margin: auto; 
    padding: 0; 
}

#grafico2{
    width: 60%; 
    height: 400px; 
    margin: auto; 
    padding: 0; 
}



/*  -----------------------------------------------cta ----------------------------------------------- */

.cta {
    color: white;
    margin: auto 0;
    width: 300px;
    text-align: center;
}

@media (max-width:768px) {
    .cta {
        display: none;
    }
}


/*  -----------------------------------------------hamburger ----------------------------------------------- */

.hamburger {
    display: none;
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 30px;
        right: 30px;
    }
    .hamburger span {
        width: 100%;
        height: 5px;
        border-radius: 8px;
        background-color: white;
        display: block;
        margin-bottom: 10px;
    }
}


/*  -----------------------------------------------button ----------------------------------------------- */

.button{
    background-color: rgb(48, 48, 48);
    display: inline-block;
    padding: 20px 30px;
    border-radius: 10px;
    color: white;
}

.button:hover{
    background-color: rgb(167, 167, 167);
    color:rgb(48, 48, 48);
  }


/*  -----------------------------------------------hero ----------------------------------------------- */

.sfondo {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: linear-gradient(0deg, rgb(0, 0, 0, .3) 70%, rgb(0, 0, 0, .8)), url("../Media/poster.png") no-repeat center center;
    background-size: cover;
}

.hero__content {
    width: 100%;
    max-width: 1500px;
    padding: 30px;
    margin: 0 auto;
    color: white;
    transition: .5s ease-in-out;
    text-align: center;
}

@media (max-width:768px) {
    .hide-hero__content {
        display: none;
    }
}


/*  -----------------------------------------------poster ----------------------------------------------- */

.poster {
    display: flex;
    height: auto;
    align-items: center;
    overflow: hidden;
}

.poster__img {
    width: 60%;
    max-height: 100vh;
    height: 100vh; 
    
}
.poster__img img:hover {
    transform: scale(1.05); 
  }

.poster__content {
    width: 40%;
    padding: 50px;
}

.poster__img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: 0.25s ease-in-out;
    overflow: hidden;
}

@media (max-width:768px) {
    .poster {
        flex-wrap: wrap;
    }
    .poster__content,
    .poster__img {
        width: 100%;
        height: auto;
    }

    .poster__img img{
        object-fit: contain;
        padding: 0%;
    }
}


/*  -----------------------------------------------grid ----------------------------------------------- */

.grid {
    display: flex;
    width: 100%;
    align-items: center;
}

.column {
    width: 100%;
}

@media (max-width:768px) {
    .grid {
        flex-wrap: wrap;
    }
}

.elenco {
  list-style: none;
}



/*  -----------------------------------------------footer ----------------------------------------------- */

footer {
    position: relative;
    width: 100%;
    height: 150px;
}

.creator__grid {
    display: flex;
    position: absolute;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;
    background: linear-gradient(0deg, rgb(216, 9, 9), rgb(216, 9, 9));
}

.creator__column {
    width: 100%;
    z-index: 1;
    text-align: center;
}

.creator__column * {
    margin: auto;
    width: fit-content;
}

.creator__column h3 {
    margin-bottom: 10px;
    width: fit-content;
    margin: 0 auto;
}

footer #canvas1 {
    position: absolute;
    bottom: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 0;
}

@media (max-width:768px) {
    .creator__column h3 {
        font-size: 13px;
    }
    footer {
        height: 100px;
    }
}

/*Fatto da Varisco e Germanò*/